@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glemt adgangskode bekræftelse";
}

<h1>@ViewData["Title"]</h1>
<p>
    Hvis din email findes i cores system, hat du fået en mail med et link til at nulstille din adgangskode.
</p>
