@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Glemt adgangskode bekræftelse";
}

<h1>@ViewData["Title"]</h1>
<p>
    Thek din email for mal med link til at nulstille din adgangskode.
</p>
