@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Bruger oprettet";
}

<h1>@ViewData["Title"]</h1>
<p>Brugeren @Model.Email er nu oprettet og kan <a href="/identity/account/login">logge ind</a>.</p>

