@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Adgangskode ændret";
}

<h1>@ViewData["Title"]</h1>
<p>
    Din adgangskode er nu ændret. Du kan nu <a asp-page="./Login">logge ind</a> med den nye adgangskode.
</p>
