@{
    
    ViewData["Title"] = "Prøveskytter";
}

<div class="text-center">
    <h1 class="display-4">Velkommen</h1>
    <p>På denne side kan du registrere prøveskytter, deres skydninger, og udskrive/gemme en logbog, der kan sendes til politiet på opfordring.</p>
    @if (User?.Identity?.IsAuthenticated == true)
    {
        <p>Hej @User.Identity.Name</p>
        <p>Klik på et af menupunkterne øverst.</p>
    }
    else
    {
        <p>Du skal <a href="/identity/account/login">logge ind</a> for at kunne bruge siden.</p>
    }
</div>
